<div class="row">
    <div>
        <h2>Hard and soft skills</h2>
    </div>
    <div class="row" id="box">
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/html-5.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [percent]="90"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>HTML</h3>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/css-3.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>CSS</h3>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="73"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>JAVASCRIPT</h3>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/github.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="75"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>GIT HUB</h3>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/teamwork.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [percent]="95"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>TEAM WORK</h3>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/leadership.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeGradient]="true"
            [outerStrokeColor]= "'hsla(210, 96%, 46%, 0.6)'"
            [outerStrokeGradientStopColor]= "'hsla(190, 92%, 46%, 1)'"
            [outerStrokeLinecap]="'round'"
            [innerStrokeColor]="'hsla(210, 96%, 86%, 0.3)'"
            [animation]="true"
            [animationDuration]="1400"
        ></circle-progress>
        <h3>LEADERSHIP</h3>
    </div>
    </div>
</div>