<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 texto">
            <h3>Portfolio Argentina Programa 2022</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit unde numquam similique sapiente modi corporis nisi nobis blanditiis dolorum illo dolorem iusto ipsum consectetur, minima aperiam ex? Corrupti, similique recusandae.</p>
        </div>
        <div class="col-sm-7 col-md-5 col-lg-5 offset-sm-1 offset-md-1 imagen" >
            <img src="../../../assets/Portfolio.png" alt="" class="img-fluid" id="imagen">
        </div>
   </div>
</div>