<div class="footer">
    <div class="row" id="contenedor-footer">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="content-foot">
            <h4>Teléfono</h4>
            <p>+54 11 68817983</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="content-foot">
            <h4>Email</h4>
            <p>gabrielomar_1@hotmail.com</p>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="content-foot">
            <h4>Ubicación</h4>
            <p>Buenos Aires</p>
        </div>
    </div>
    
    <h2 class="titulo-final">&copy; Gabriel Ramos | Argentina Programa 2022</h2>
</div>